::placeholder {
    color: white;
  }
  
  input,
  textarea {
    background: black;
    border-radius: 1px;
    outline: none;
  }
  input:focus,
  textarea:focus{
    background: grey;
    border-radius: 0px;
    color: black;
  
  }
  button{
    padding: 1px 10px;
    color: whitesmoke;
    outline: none;
  }
